
@{
    ViewBag.Title = "Index";
}

<h2>This is the index page</h2>
<ul>
   <li>@Html.ActionLink("Page One", "PageOne", "Home")</li>
   <li>@Html.ActionLink("Page Two", "PageThree", "Home")</li>
   <li>@Html.ActionLink("Page Three", "PageTwo", "Home")</li> 
</ul>

