
@{
    ViewBag.Title = "Index";
}


<script type="text/javascript" src="~/Scripts/GenreAggregator.js"></script>

<div class="container">
    <div class="jumbotron">
        <h1>Final</h1>
        <p>
            Welcome to Ryan's Online art database. We have a total of 6 art pieces. So take your time.
        </p>
    </div>
</div>

@foreach (var genreName in ViewBag.genreNames)
{
    <button class="btn btn-default" onclick="GetGenreData('@genreName')">@genreName</button>
}

<div id="genreList"></div>
